


.div1{

    background-color: antiquewhite;
    }
    .div legend{
    
    border: 2px solid black;
    
    }
    
    .div2{
        color:darkcyan;
        font-size: 25px;
        text-align: center;
    
    }
    .div3{
    
    background-color: black;
    color: bisque;
    border-top: 5px solid red;
    padding-bottom: 3px;
    text-align: center;
    }
    
    .div4{
        font-size: 20px;
    
    }
    
    .div5{
    
    
    }
    .div6 b{
        color: red;
    
    }
    .div7{
        background-color: red;
        color: white;
        width: auto;
        height: auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
    }
    .div8{
        text-align: center;
        
    }
    .div9{
        
        text-align: center;
        width: auto;
        height: auto;
        background-color: black;
        padding: 10px;
     
    
    }
    